<style>
body {
  background-color: #FFDF00;
}
</style>
<h1> You found the Golden Ticket!!!</h1>
<p> You didn't win anyhting! </p>
<p> <img src="http://miraclereed.com/wp-content/uploads/2013/11/goldenticket.jpg"</p>
